# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
# IDE/exported notebook JSON
Movie prediction.json
